[Desktop Entry]
Version=1.0
Type=Application
Name=Sublime Text
GenericName=Text Editor
Comment=Sophisticated text editor for code, markup and prose
Exec=sh -c 'LD_PRELOAD=/opt/sublime_text/sublime_zh/libsublime_imfix.so /opt/sublime_text/sublime_text "%F"'
Terminal=false
MimeType=text/plain;
Icon=sublime-text
Categories=TextEditor;Development;
StartupNotify=true
Actions=Window;Document;

[Desktop Action Window]
Name=New Window
Exec=sh -c 'LD_PRELOAD=/opt/sublime_text/sublime_zh/libsublime_imfix.so /opt/sublime_text/sublime_text -n'
OnlyShowIn=Unity;

[Desktop Action Document]
Name=New File
Exec=sh -c 'LD_PRELOAD=/opt/sublime_text/sublime_zh/libsublime_imfix.so /opt/sublime_text/sublime_text --command new_file'
OnlyShowIn=Unity;
